.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: rgb(191, 191, 191);
    border-color: #333;

    .search {
      border-color: rgb(191, 191, 191);
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: rgb(191, 191, 191);
      }
    }
    hr {
      border-color: #333;
    }

    span{
      color: rgb(191, 191, 191);
      
  }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: rgb(191, 191, 191);
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: rgb(191, 191, 191);
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
  }
}
