.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: rgb(29, 29, 29);

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    background-color: #111;
    color: rgb(191, 191, 191);
    border-color: #333;

    .search {
      border-color: rgb(191, 191, 191);
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #4195c0;
      }
    }
    hr {
      border-color: #333;
    }

    span {
      color: rgb(191, 191, 191);
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #4195c0;
        }
      }
    }
  }

  .single {
    .singleContainer {
      .title {
        color: rgb(191, 191, 191);
      }
      .details {
        .itemTitle {
          color: #4195c0;
        }
      }
      .bottom {
        background-color: rgb(29, 29, 29);
        box-shadow: none;
      }
      .top {
        .left {
          background-color: rgb(29, 29, 29);
          box-shadow: none;
          z-index: 2;
        }
      }
    }
  }

  .new {
    background-color: #111;
    .newContainer {
      .top {
        background-color: rgb(29, 29, 29);
        box-shadow: none;
        h1 {
          color: rgb(191, 191, 191);
        }
      }
      .bottom {
        background-color: rgb(29, 29, 29);
        box-shadow: none;
        margin-bottom: 200px;
        padding: 40px 40px 40px 0px;
      }
    }
  }

  .datatable {
    .datatableTitle {
      color: rgb(191, 191, 191);
    }
    .datagrid {
      background-color:  rgb(29, 29, 29);
      color: gray;
      border: 1px gray solid;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: 1px gray solid;
      }

      .css-i4bv87-MuiSvgIcon-root,
      .css-levciy-MuiTablePagination-displayedRows {
        color: gray;
      }
    }
  }

  .featured {
    background-color: rgb(29, 29, 29);
    box-shadow: none;
    .top {
      color: rgb(191, 191, 191);
    }
  }

  .chart {
    background-color: rgb(29, 29, 29);
    box-shadow: none;
    .title {
      color: rgb(191, 191, 191);
    }
  }

  .widget {
    background-color: rgb(29, 29, 29);
    box-shadow: none;
    .left {
      .title {
        color: rgb(191, 191, 191);
      }
      .link {
        color: gray;
      }
      .counter {
        color: #4195c0;
      }
    }
  }

  .list {
    .listContainer {
      background-color: #111;
      margin-bottom: 100px;
    }
  }

  .home {
    .listTitle {
      color: rgb(191, 191, 191);
    }
    .listContainer {
      background-color: rgb(29, 29, 29);
      box-shadow: none;
    }
  }

  input {
    background-color: transparent;
  }
}
